<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Convertidor COP a USD</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="container">
    <h1>Convertidor de COP a USD</h1>
    <form method="POST" action="/">
      <label for="cantidad_cop">Ingrese la cantidad en COP:</label>
      <input type="number" id="cantidad_cop" name="cantidad_cop" required>
      <button type="submit">Convertir</button>
    </form>

    {% if resultado is not none %}
    <div class="resultado">
      {% if resultado is string %}
      <p class="error">{{ resultado }}</p>
      {% else %}
      <p>La cantidad convertida es: ${{ '{:.2f}'.format(resultado) }} USD</p>
      {% endif %}
    </div>
    {% endif %}
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>